<div id="header">
  <div class="wrapper clearfix">
    <h1 id="lockitron_header" style='padding-top:10px;'>
      <a href="/">
        <%= image_tag 'Square.png' %>
      </a>
  </h1>
  </div>
</div>
