<div class="gray_background" id='share_container'>
  <div class="wrapper center" id="congrats">
    <h2>
      Thanks for your donation!
    </h2>
    <p>
      <%= image_tag 'dance.gif' %>
    </p>
    <p>
      You're <%= Settings.primary_stat_verb %> number
      <span id="backer_number">
        <%= @order.number %>
      </span>
    </p>
    <br />
    <br />
    <div id="order_id">
      Donation ID: <%= @order.uuid %>. You can bookmark or print this page for your records.
    </div>
  </div>
</div>
