<div class="gray_background" id='share_container'>
  <div class="wrapper center" id="congrats">
    <h2>
      Thank you, we've reach our goal!
    </h2>
    <p>
      <%= image_tag 'dance.gif' %>
    </p>
  </div>
</div>
